aiohttp==3.10.0
python-telegram-bot==21.4
jira==3.8.0
pydantic==2.8.2
pydantic-settings==2.4.0
loguru==0.7.2
langchain==0.2.14
langdetect==1.0.9
langchain-openai==0.1.22
langchain-core==0.2.35
langchain-community==0.2.12