aiohttp==3.10.0
python-telegram-bot==21.4
jira==3.8.0
pydantic==2.8.2
pydantic-settings==2.4.0
loguru==0.7.2
langchain==0.3.19
langdetect==1.0.9
langchain-openai==0.3.6
langchain-core==0.3.36
langchain-community==0.3.17
tiktoken==0.7.0
aiofiles==24.1.0
uvicorn==0.34.0
fastapi==0.112.2
lagom==2.7.5
python-gitlab==5.6.0
XlsxWriter==3.2.2
jdatetime==5.2.0