{
  "year": 2024,
  "months": {
    "1": {
      "month": 1,
      "name": "فروردین",
      "total_days": 31,
      "working_days": 22,
      "days": {
        "1": {
          "is_holiday": true,
          "is_disabled": false,
          "description": "نوروز"
        },
        "2": {
          "is_holiday": true,
          "is_disabled": false,
          "description": "نوروز"
        },
        "13": {
          "is_holiday": true,
          "is_disabled": false,
          "description": "سیزده به در"
        }
      }
    },
    "2": {
      "month": 2,
      "name": "اردیبهشت",
      "total_days": 31,
      "working_days": 23,
      "days": {}
    },
    "3": {
      "month": 3,
      "name": "خرداد",
      "total_days": 31,
      "working_days": 22,
      "days": {
        "15": {
          "is_holiday": true,
          "is_disabled": false,
          "description": "شهادت امام خمینی"
        }
      }
    }
  }
}
